{
  "eslintIntegration": true,
  "semi": false,
  "singleQuote": true,
  "jsxBracketSameLine": true,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
